/* Customize the scrollback button */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: #035277cd;
    border-radius: 5px;
}

/* Customize the scroll track */
::-webkit-scrollbar-track {
    background-color: #252222;}
.card-background-color {
    background: #242526 ;
}
.text-move-left{
    text-align: left !important;
}
.custom-min-height{
    min-height: 400px;
}
.custom-card {
    background-color: transparent !important;
}