.custom-slide-chat {
    position: fixed;
    top: 0;
    left: -250px;
    /* initial position outside the viewport */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
}

.custom-slide-chat.open {
    transform: translateX(250px);
    /* slide-in effect */
}

.custom-slide-chat.closed {
    transform: translateX(0);
    /* slide-out effect */
}