.modeToggler {
    position: absolute;
    bottom: 20px;
    left: 5px;
}

#darkmode-toggle-label {
    width: 40px;
    height: 18px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 15px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
#darkmode-toggle-label:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  top:2px;
  left:2px;
  }

#darkmode-toggle {
      width: 0;
      height: 0;
      visibility: hidden;
  }
#darkmode-toggle:checked+label {
    background: #242424;
}

#darkmode-toggle:checked+label:after {
    left: 38px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label,
label:after {
    transition: 0.3s
}
