
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
.form-container>h1{
    font-weight: normal;
    color: White;

}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form>*{
    margin-top: 10px;
}
.login-form > input{
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    background-color:#D4D4D4 ;
    text-indent: 5px;
}
.login-form>label{
    cursor: pointer;
}
#login-form__submit{
    cursor: pointer;
    border: none;
    width: 100%;
    height: 30px;
    color: white;
    background: #2A2B2D;
    width: 175px;
}
.login-form label,a{
    font-size: 14px;
}
.login-form__extras{
    color: white;
}
.login-form label{
    padding-right: 20px;
}
#login-form__signUp{
    margin-top:10px;
}
.errorContainer{
    height: 45px;
}
.redBackground{
    background-color: rgba(240, 26, 26, 0.257);
    padding: 10px;
    height: 25px;
}
.error {
    color: red;
}