.sidebar-active{
    background: #03A9F4 !important;
    color:#2A2B2D;
}
.sidebar-background{
    background: #242526 !important;
}
.contrast-text-blue {
    color:#03A9F4;
}
.contrast-background-blue{
    background: #03A9F4 !important;
}
.custom-sidebar-hover:hover{
    background: #56c0f1cd !important;
}
